<a [routerLink]="['/suppliers', supplierInfo?.id]">
    <div class="card-header" [ngClass]="{'viewed':viewed}">
        <span class="h4">
            {{ supplierInfo?.name }}
        </span>
    </div>
    <div class="photo mb-4" *ngIf="supplierInfo && supplierInfo.preview else noImage">
        <img [src]="imagePath"  class="card-img" />
    </div>
    <ng-template #noImage>
        No preview
    </ng-template>
    <div class="rating">
        <p class="pull-right" [ngStyle]="{'color': '#003e09' }">
            <fa name="eye"></fa> : {{ supplierInfo?.watches }}
            <fa name="comments"></fa> : {{ supplierInfo?.commentsCount }}
        </p>
    </div>
    <div class="rating">
        <godsend-stars [value]="supplierInfo?.rating"></godsend-stars>
    </div>
</a>
<div class="delete" (click)="onDelete()"><fa name="times"></fa></div>
