a, a:active, a:focus, a:visited {
    text-decoration: none;
    color: #171212;
}
.delete {
    display: inline-block;
    z-index: 6;
    background-color: antiquewhite;
    cursor: pointer;
    position: absolute;
    padding: 5px;
    right: 5px;
    top: 0;
}

    .delete:hover {
        background-color: salmon;
    }
.suppliers {
    margin-left: 10px;
    margin-right: 10px;
}
@media (max-width: 568px) {
    .suppliers {
        margin-left: 40px;
        margin-right: 40px;
        margin-bottom: 10px;
    }
}

@media (max-width: 460px) {
    .suppliers {
        margin-left: 15px;
        margin-right: 15px;
    }
}
