<h1>Suppliers</h1>
<br />
<br />

<br />
<div *ngIf="suppliers?.length > 0; else nodata">
    <div class="wrap">
        <div id="stic-search">
           <div class="search">
               <p class="inline-block">
                  <godsend-search-inline [type]="type" (found)="suppliers = onFound($event.suppliersInfo)"></godsend-search-inline>
            </p>
            <p class="inline-block">
                <fa name="search"></fa>
            </p>
        </div>
            </div>
        <br />
        <div class='container-fluid'>
            <div class='row suppliers'>
                <div *ngFor="let supplierInfo of suppliers" class="col-lg-3 col-md-4 col-sm-6 col-xs-12  card ">
                    <a [routerLink]="['/suppliers', supplierInfo.id]">
                        <div class="card-header">
                            <span class="h4">
                                {{ supplierInfo.name }}
                            </span>
                        </div>
                        <div class="photo mb-4">
                            <img src="../../../assets/simpleApple.jpg" />
                        </div>
                        <div class="rating">
                            <p class="pull-right" [ngStyle]="{'color': '#003e09' }"><fa name="eye"></fa> : {{ supplierInfo.watches }}</p>
                        </div>
                        <div class="rating">
                            <godsend-stars [value]="supplierInfo.rating"></godsend-stars>
                        </div>
                    </a>
                </div>
            </div>

        </div>
    </div>
</div>

<ng-template #nodata>
    <div class="center"> <h4 class="m-1">Waiting for data...</h4></div>
</ng-template>


