<h1>Supplier detail</h1>
<br />
<br />
<br />
<div class="wrap rel">
    <br />
    <br />
    <div class="edit-supp">
        <div class="inline-block edit-btns" id="edit" *ngIf="!edit" (click)="editMode()"> Edit</div>
        <div class="inline-block edit-btns" id="save" *ngIf="edit" (click)="save()"> Save</div>
        <div class="inline-block edit-btns" id="discard" *ngIf="edit" (click)="discard()"> Discard</div>
        <div id="delete" class="edit-btns inline-block" (click)="deleteSupplier()">Delete</div>
    </div>
    <br />
    <br />
    <div class='container-fluid'>
        <div class='row'>
            <div class='col-lg-3 col-md-4 col-sm-6 col-xs-12 suppliers'>
                <div class="supp-name">
                    <godsend-input-output *ngIf="supp" [(ngModel)]="supp.info.name" [edit]="edit"></godsend-input-output>
                </div>
                <div class="photo">
                    <!--<div *ngFor="let image of images" style="display:contents;">-->
                    <img [src]="'data:image/jpg;base64,' + image" class="card-img" />
                    <!---</div>-->
                </div>
                <div class="rating">
                    <godsend-stars [value]="supp?.info?.rating"></godsend-stars>
                    <p class="pull-right" [ngStyle]="{'color': '#003e09' }"><fa name="eye"></fa> : {{ supp?.info?.watches }}</p>
                </div>
            </div>
            <div class='col-lg-7 col-md-6 col-sm-5 col-xs-12 suppliers rel'>
                <div class="supp-info">
                    <div>
                        <label>Description: </label>
                        <p>Some text</p>
                    </div>
                    <div>
                        <label>Address: </label>
                        <godsend-input-output *ngIf="supp" [(ngModel)]="supp.info.location.address" [edit]="edit"></godsend-input-output>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="back-btn" (click)="gotoSuppliers(supp)">
        <fa name="long-arrow-left"></fa> Back to suppliers
    </div>

</div>
