<h1>Supplier detail</h1>
<br />
<br />
<br />
<div class="wrap rel">
    <br />
    <br />
    <div class="edit-supp">
        <div class="inline-block edit-btns" id="edit" *ngIf="!edit" (click)="editMode()"> Edit</div>
        <div class="inline-block edit-btns" id="save" *ngIf="edit" (click)="save()"> Save</div>
        <div class="inline-block edit-btns" id="discard" *ngIf="edit" (click)="discard()"> Discard</div>
        <div id="delete" class="edit-btns inline-block" (click)="deleteSupplier()">Delete</div>
    </div>
    <br />
    <br />
    <div class='container-fluid'>
        <div class='row'>
            <div class='col-lg-3 col-md-4 col-sm-6 col-xs-12 suppliers'>
                <div class="supp-name">
                    <godsend-input-output *ngIf="supp" [(ngModel)]="supp.info.name" [edit]="edit"></godsend-input-output>
                </div>
                <!--<div class="photo">
                    <img [src]="'data:image/jpg;base64,' + image" class="card-img" />
                </div>-->
                <godsend-gallery *ngIf="supp" [value]="supp.images" (valueChange)="setImages($event)" [edit]="edit"></godsend-gallery>
                <div class="rating">
                    <div *ngIf="supp">
                        <godsend-ratings [clas]="clas" [id]="supp.id" [(ngModel)]="supp.info.rating"></godsend-ratings>
                    </div>
                    <p class="pull-right" [ngStyle]="{'color': '#003e09' }"><fa name="eye"></fa> : {{ supp?.info?.watches }}</p>
                </div>
            </div>
            <div class='col-lg-7 col-md-6 col-sm-5 col-xs-12 suppliers rel'>
                <div class="supp-info">
                    <div>
                        <label>{{ 'Suppliers.Description' | translate }}: </label>
                        <p>Some text CHANGE THIS</p>
                    </div>
                    <div>
                        <label>{{ 'Suppliers.Address' | translate }}: </label>
                        <godsend-input-output *ngIf="supp" [(ngModel)]="supp.info.location.address" [edit]="edit"></godsend-input-output>
                    </div>
                    <label>
                        {{ 'Suppliers.Products' | translate }}:
                    </label>
                    <div *ngIf="supp">
                        <div *ngFor="let productAndPrice of supp.productsAndPrices">
                            <p (click)="gotoProduct(productAndPrice.productInfo.id)">{{ productAndPrice.productInfo.name }} ({{ 'Suppliers.for' | translate }} {{ productAndPrice.price }})</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <godsend-comment-wrapper id="{{route.snapshot.params.id}}" clas="supplier"></godsend-comment-wrapper>
    <div class="back-btn" [routerLink]="['/suppliers']">
        <fa name="long-arrow-left"></fa> {{ 'Suppliers.Back' | translate }}
    </div>

</div>
