<h1>Suppliers</h1>
<br />
<br />
<div>
    <div class="wrap">
        <button (click)="createSupplier('Test supplier', 'nowhere')" class="btn btn-dark ml-4">{{"Suppliers.Create" | translate}}</button>

        <br />
        <br />
        <div id="stic-search">
            <div class="search">
                <p class="inline-block">
                    <godsend-search-inline [type]="type" (found)="onFound($event.suppliersInfo)"></godsend-search-inline>
                </p>
                <p class="inline-block">
                    <fa name="search"></fa>
                </p>
            </div>
        </div>
        <br />
        <div class='container-fluid' *ngIf="suppliers?.length > 0; else nodata">
            <div class='row suppliers'>
                <div *ngFor="let supplierInfo of suppliers" class="col-lg-3 col-md-4 col-sm-6 col-xs-12  card ">
                    <godsend-supplier-card [supplierInfo]="supplierInfo" [image]="images[supplierInfo.preview?.id]" (delete)="deleteSupplier(supplierInfo.id)"></godsend-supplier-card>
                </div>
            </div>

        </div>
    </div>
</div>
<godsend-pages [pagesCount]="pagesCount" (pageChanged)="onPageChanged($event)"></godsend-pages>

<ng-template #nodata>
    <div class="center"> <h4 class="m-1">{{ templateText }}</h4></div>
</ng-template>


