<h1>Supplier detail</h1>
<br />
<br />
<br />
<div class="wrap rel">
    <br />
    <br />

    <div class='container-fluid'>
        <div class='row'>
            <div class='col-lg-3 col-md-4 col-sm-6 col-xs-12 suppliers'>
                <godsend-input-output *ngIf="supp" [(ngModel)]="supp.info.name" [edit]="edit"></godsend-input-output>
                <div class="photo">
                </div>
                <div class="rating">
                    <godsend-stars [value]="supp?.info?.rating"></godsend-stars>
                    <p class="pull-right" [ngStyle]="{'color': '#003e09' }"><fa name="eye"></fa> : {{ supp?.info?.watches }}</p>
                </div>
            </div>
            <div class='col-lg-7 col-md-6 col-sm-5 col-xs-12 suppliers rel'>
                <div class="supp-info">
                    <div>
                        <label>Description: </label>
                        <p>Some text</p>
                    </div>
                    <div>
                        <label>Address: </label>
                        <godsend-input-output *ngIf="supp" [(ngModel)]="supp.info.location.address" [edit]="edit"></godsend-input-output>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="back-btn" (click)="gotoSuppliers(supp)">
        <fa name="long-arrow-left"></fa> Back to suppliers
    </div>

    <button *ngIf="!edit" (click)="editMode()">EDIT</button>
    <button *ngIf="edit" (click)="save()">SAVE</button>
    <button *ngIf="edit" (click)="discard()">DISCARD</button>
</div>
