<h1>Shopping cart</h1>
<div *ngIf="parts?.length > 0; else nodata">
    <div *ngFor="let part of parts">
        <span class="h4">
            {{ part.productId }}
        </span>
        <span class="h4">
            {{ part.supplierId }}
        </span>
        <span class="h4">
            {{ part.quantity }}
        </span>
        <span class="h4" (click)="delete(part)">
            DELETE
        </span>
        <br />
    </div>
</div>
<button (click)="checkout()">Checkout</button>

<ng-template #nodata>
    <h4 class="m-1">No orders</h4>
</ng-template>