<style>
    .h4 {
        user-select: none;
    }

</style>

<h1>Shopping cart</h1>
<div *ngIf="discreteParts?.length > 0; else nodata">
    <div *ngFor="let part of discreteParts">
        <span class="h4">
            {{ part.product.info.name }}
        </span>
        <span class="h4">
            {{ part.supplier.info.name }}
        </span>
        <span class="h4">
            {{ part.quantity }}
        </span>
        <span class="h4">
            $ {{ (part.quantity * part.price).toFixed(2) }}
        </span>
        <span class="h4" (click)="increment(part)">
            INCREMENT
        </span>
        <span class="h4" (click)="decrement(part)">
            DECREMENT
        </span>
        <span class="h4" (click)="delete(part)">
            DELETE
        </span>
        <br />
    </div>
    <span>Total: {{ totalPrice }}</span>
</div>
<button [routerLink]="['/products']" (click)="checkout()">Checkout</button>

<ng-template #nodata>
    <h4 class="m-1">No orders</h4>
</ng-template>