<h1>Articles</h1>
<div *ngIf="articles else nodata">
    <div *ngFor="let a of articles">
        <a [routerLink]="['/article', a.id]">
            <span class="h4">
                Id: {{ a.id }}
            </span><br />
            <span class="h4">
                Title: {{ a.name }}
            </span><br />
            <span class="h4">
                Author: {{ a.author?.userName }}
            </span><br />
            <span class="h4">
                Created: {{ a.created }}
            </span><br />
            <span class="h4">
                Rating: {{ a.rating }}
            </span><br />
            <span class="h4">
                Watches: {{ a.watches }}
            </span><br /><span class="h4" *ngFor="let hash of a.tags">
                #{{ hash }}&nbsp;
            </span><br />
            <br />
        </a>
    </div>
</div>

<ng-template #nodata>
    <h4 class="m-1">Waiting for data...</h4>
</ng-template>