<div class="wrap rel">
    <div class="back-btn" [routerLink]="['/articles']">
        <fa-icon icon="long-arrow-alt-left"></fa-icon>
        <ng-container> {{ 'Articles.Detail.Back' | translate }}</ng-container>
    </div>
    <br />
    <br />
    <div *ngIf="article?.info != null">
        <p class="h3 title">
            <godsend-input-output [(ngModel)]="article.info.name" class="edit-art-input" [edit]="edit"></godsend-input-output>
        </p>
        <div>
            <div *ngIf="article">
                <godsend-ratings [clas]="clas" [id]="article.id" [(ngModel)]="article.info.rating"></godsend-ratings>
            </div>
            &nbsp;
            <fa-icon icon="eye"></fa-icon> : {{ article.info.watches }}
        </div>
        <p class="h5 author">
            - {{ article.info.author?.name }}
        </p>
        <br />
        <p>
            <!--<godsend-input-output [(ngModel)]="article.content" [type]="'huge'" class="edit-art-txtarea" [edit]="edit">
                <span class="h4" [innerHtml]="article.content"></span>
            </godsend-input-output>-->
            <godsend-richtext [edit]="edit" [(ngModel)]="article.content" [maxLength]="1000"></godsend-richtext>
        </p>
        <br />
        <div *ngIf="!edit else editTags">
            <p class="h5" *ngFor="let tag of article.info.tags">
                #{{ tag.tag.value }}&nbsp;
            </p>
        </div>
        <ng-template #editTags>
            <label>{{ 'Articles.Detail.Tags' | translate }}:</label>
            <input [(ngModel)]="stringTags" />
        </ng-template>
        <p class="h5">
            {{ 'Articles.Detail.Created' | translate }}: {{ article.info.created | date : 'dd-MMM-yyyy HH:mm' }}
        </p>
        <br />
        <div>
            <godsend-comment-wrapper id="{{ article.id }}" clas="article"></godsend-comment-wrapper>
        </div>
    </div>
    <div class="edit-art">
        <div class="inline-block edit-btns" id="edit" *ngIf="!edit" (click)="editMode()">{{ 'Articles.Detail.Edit' | translate }}</div>
        <div class="inline-block edit-btns" id="save" *ngIf="edit" (click)="save()">{{ 'Articles.Detail.Save' | translate }}</div>
        <div class="inline-block edit-btns" id="discard" *ngIf="edit" (click)="discard()">{{ 'Articles.Detail.Discard' | translate }}</div>
    </div>
    <br />
</div>