<h1>Article detail</h1>
<div *ngIf="article?.info != null">
    <h2>{{ article.id }}</h2>
    <span class="h4">
        Title: <godsend-input-output *ngIf="article" [(ngModel)]="article.info.name" [edit]="edit"></godsend-input-output>
    </span><br />
    <span class="h4">
        Author: {{ article.info.author?.name }}
    </span><br />
    <span class="h4">
        Created: {{ article.info.created }}
    </span><br />
    <span class="h4">
        Rating: {{ article.info.rating }}
    </span><br />
    <span class="h4">
        Watches: {{ article.info.watches }}
    </span><br />
    <godsend-input-output *ngIf="article" [(ngModel)]="article.content" [edit]="edit"><span class="h4" [innerHtml]="article.content"></span></godsend-input-output>
    <br /><br />
    <span class="h4" *ngFor="let hash of article.info.tags">
        #{{ hash }}&nbsp;
    </span>
</div>
<button *ngIf="!edit" (click)="editMode()">EDIT</button>
<button *ngIf="edit" (click)="save()">SAVE</button>
<button *ngIf="edit" (click)="discard()">DISCARD</button>
<p>
    <button (click)="gotoArticles(article)">Back</button>
</p>