<div class="wrap">
    <h1>Articles</h1>
    <button (click)="createArticle('content', 'test name', ['test','victory'])">CREATE</button>

    <div *ngIf="articles else nodata">
        <div *ngFor="let a of articles">

            <div class="card text-center">
                <h5 class="card-header">{{ a.name }}</h5>
                <div class="card-body">
                    <h5 class="card-title"><span *ngFor="let hash of a.tags">#{{ hash }}&nbsp;</span></h5>
                    <a [routerLink]="['/article', a.id]" class="btn btn-primary">Read more</a>
                    <br />
                    <br />
                    <p class="card-text">Created: {{ a.created }}</p>
                    <footer class="blockquote-footer">by {{ a.author?.name }}</footer>
                </div>
                <div class="card-footer text-muted">
                    <godsend-stars [value]="a.rating"></godsend-stars> &nbsp; <fa name="eye"></fa> : {{ a.watches }}
                </div>
            </div>
        </div>
    </div>
</div>

<!--
<a >
    <span class="h4">
        Title: {{ a.name }}
    </span><br />
    <span class="h4">
        Author: {{ a.author?.name }}
    </span><br />
    <span class="h4">
        Created: {{ a.created }}
    </span><br />
    <span class="h4">
        Rating: {{ a.rating }}
    </span><br />
    <span class="h4">
        Watches: {{ a.watches }}
    </span><br /><span class="h4" *ngFor="let hash of a.tags">
        #{{ hash }}&nbsp;
    </span><br />
</a>
<button (click)="deleteArticle(a.id)">DELETE</button>
<br />
<br />
-->
<ng-template #nodata>
    <h4 class="m-1">Waiting for data...</h4>
</ng-template>