<div class="wrap rel">


    <div class="back-btn" (click)="gotoArticles(article)">
        <fa name="long-arrow-left"></fa> Back to articles
    </div>
    <br />
    <br />
    <div *ngIf="article?.info != null">
        <p class="h3 title">
            <godsend-input-output [(ngModel)]="article.info.name" class="edit-art-input" [edit]="edit"></godsend-input-output>
        </p>

        <p>
            <godsend-stars [value]="article.info.rating"></godsend-stars> &nbsp; <fa name="eye"></fa> : {{ article.info.watches }}
        </p>
        <p class="h5 author">
            - {{ article.info.author?.name }}
        </p>
        <br />
        <p>
            <godsend-input-output [(ngModel)]="article.content" huge="true" class="edit-art-txtarea" [edit]="edit"><span class="h4" [innerHtml]="article.content"></span></godsend-input-output>
        </p>
        <br />
        <p class="h5" *ngFor="let hash of article.info.tags">
            #{{ hash }}&nbsp;
        </p>
        <p class="h5">
            Created: {{ article.info.created }}
        </p><br />

    </div>
    <div class="edit-art">
        <div class="inline-block edit-btns" id="edit" *ngIf="!edit" (click)="editMode()"> Edit</div>
        <div class="inline-block edit-btns" id="save" *ngIf="edit" (click)="save()"> Save</div>
        <div class="inline-block edit-btns" id="discard" *ngIf="edit" (click)="discard()"> Discard</div>
    </div>
    <br />
</div>
