/*helpers */
/*Position */
.fixed {
    position: fixed;
}
/*Float  */
.pull-left {
    float: left;
}

.pull-right {
    float: right;
}

/*Aligning Elements */
.center {
    margin: 0 auto;
    text-align: center;
}

header {
    padding-top: 15px;
    padding-bottom: 5px;
    width: 100%;
    z-index: 1010 !important;
    background: #228B22;
    left: 0;
    font-size: 18px;
}
header li {
    margin-right: 4px;
}
.wrap {
    max-width: 1400px;
    padding-left: 20px;
    padding-right: 20px;
    margin: 0 auto;
}

/* Highlighting rules for nav menu items */
a {
    text-decoration: none;
    color: #1f1f1f;
    font-weight: bold;
}

a:hover, .hamburger:hover {
    color: #ffffff !important;
    transition: 300ms;
    cursor: pointer;
}

.hamburger {
    color: #000000;
    font-size: 18px;
    display: none;
    cursor: pointer;
    padding-top: 5px;
}

.main-nav, .main-nav-2 {
    display: block;
    padding-top: 5px;
    font-size: 18px;
    margin: 0px 0px 10px 0px;
}

.main-nav-item {
    display: inline-block;
    padding-right: 5px;
    margin: 10px 0px 0px 0px;
}
.main-nav-item-2 {
    display: inline-block;
    padding-right: 5px;
}

/* Must come after .main-nav to override it */


.select_lang{
    border: none;
    font-weight: 600;
    padding: 0 6px;
    background: transparent;
    font-size: 19px;
}
@media (max-width: 1100px) {
    .main-nav {
        display: none;
        margin-left: 10px;
    }

    .wrap {
        padding-left: 5px;
    }

    .hamburger {
        display: block;
        margin-left: 10px;
    }

    .main-nav-item {
        display: block;
    }
}
.block {
    display: block;
}

#langselection select {
    border: none;
    background: transparent;
    font-size: 20px;
    font-weight: bold;
    padding: 5px;
    width: 40px;
    color: #1f1f1f;
    -webkit-appearance: none;
}
#langselection {
    overflow: hidden;
    width: 40px;
    height: 40px;
    color: #1f1f1f;
    font-weight: bold;
    border-radius: 15px 15px 15px 15px;
    box-shadow: 1px 1px 8px #330033;
    background: transparent;
    margin: 0px 0px -12px 0px;
}
    #langselection select:hover {
        cursor: pointer
    }