/*helpers */
/*Position */
.fixed {
    position: fixed;
}
/*Float  */
.pull-left {
    float: left;
}

.pull-right {
    float: right;
}


header {
    padding-top: 10px;
    padding-bottom: 5px;
    width: 100%;
    z-index: 100;
    background: rgba(32, 120, 19, 0.85);
    left: 0;
    font-size: 18px;
}

.wrap {
    max-width: 1400px;
    padding-left: 20px;
    padding-right: 20px;
    margin: 0 auto;
}

/* Highlighting rules for nav menu items */
a {
    text-decoration: none;
    color: rgb(6, 48, 0);
    font-weight: bold;
}

    a:hover, .hamburger:hover {
        color: #ffffff;
        transition: 300ms;
    }

.hamburger {
    color: #000000;
    font-size: 18px;
    display: none;
    cursor: pointer;
    padding-top: 5px;
}

.main-nav, .main-nav-2 {
    display: block;
    padding-top: 5px;
    font-size: 18px;
}

.main-nav-item, .main-nav-item-2 {
    display: inline-block;
    padding-right: 5px;
}

@media (max-width: 768px) {
    .main-nav {
        display: none;
        margin-left: 10px;
    }

    .wrap {
        padding-left: 5px;
    }

    .hamburger {
        display: block;
        margin-left: 10px;
    }

    .main-nav-item {
        display: block !important;
    }
}
