<header class="fixed">
    <div class="wrap">
        <div class="hamburger pull-left" (click)="slideToggle()">
            <fa name="bars" aria-hidden="true"></fa>
        </div>
        <!-- Top left -->
        <nav class='main-nav pull-left' [ngClass]="{'block' : showMenuMobile}">
            <ul class="list-unstyled">
                <li [routerLinkActive]="['link-active']" class="main-nav-item">
                    <a [routerLink]="['/home']" (click)="hideMenu()">Home</a>
                </li>
                <li [routerLinkActive]="['link-active']" class="main-nav-item">
                    <a [routerLink]="['/products']" (click)="hideMenu()">Products</a>
                </li>
                <li [routerLinkActive]="['link-active']" *ngIf="userData.isAdmin" class="main-nav-item">
                    <a [routerLink]="['/orders']" (click)="hideMenu()">Orders</a>
                </li>
                <li [routerLinkActive]="['link-active']" *ngIf="userData.name" class="main-nav-item">
                    <a [routerLink]="['/statistics']" (click)="hideMenu()">Statistics</a>
                </li>
                <li [routerLinkActive]="['link-active']" class="main-nav-item">
                    <a [routerLink]="['/articles']" (click)="hideMenu()">Articles</a>
                </li>
                <li [routerLinkActive]="['link-active']" class="main-nav-item">
                    <a [routerLink]="['/suppliers']" (click)="hideMenu()">Suppliers</a>
                </li>
            </ul>
        </nav>
        <!-- Top right -->
        <nav class="main-nav-2 pull-right">
            <ul class="list-unstyled">
                <li [routerLinkActive]="['link-active']" *ngIf="!userData.name; else loggedout" class="main-nav-item-2">
                    <a [routerLink]="['/login']">Login</a>
                </li>
                <li *ngIf="isLogged; else elseBlock" class="main-nav-item-2">
                    <fa name="user"></fa> {{ name }}
                    <a (click)="logout()">Log out</a>
                </li>
                <ng-template #elseBlock>
                    <li class="main-nav-item-2">
                        <a [routerLink]="['/login']">Login</a>
                    </li>
                </ng-template>

                <li [routerLinkActive]="['link-active']" class="main-nav-item-2">
                    <a [routerLink]="['/search']"><fa name="search"></fa></a>
                </li>
                <li [routerLinkActive]="['link-active']" class="main-nav-item-2">
                    <a [routerLink]="['/cart']"><fa name="cart-plus"></fa></a>
                </li>
            </ul>
        </nav>
    </div>
</header>
<br />
<br />
<br />
<br />
<div>
    <!--Bottom-->
    <a (click)="scrollToTop()" class="btn btn-default" style="display: none">Top</a>
    <ul style="display: none">
        <li [routerLinkActive]="['link-active']" class="bg-success">
            <a [routerLink]="['/consult']">Consult</a>
        </li>
    </ul>

    <!--while we don't have actual user-->
    <div style="display: none">
        For test purposes <br />
        Name <input [(ngModel)]="userData.name" /><br />
        Is admin <input type="checkbox" [(ngModel)]="userData.isAdmin" /><br />
        <button (click)="logout()">Log out</button>
    </div>

</div>
