<header class="fixed">
    <div class="wrap">
        <div class="hamburger pull-left" (click)="slideToggle()">
            <fa name="bars" aria-hidden="true"></fa>
        </div>
        <!-- Top left -->
        <nav class='main-nav pull-left' [ngClass]="{'block' : showMenuMobile}">
            <ul class="list-unstyled">
                <li [routerLinkActive]="['link-active']" class="main-nav-item">
                    <a [routerLink]="['/home']" (click)="hideMenu()">{{ 'HOME' | translate }}</a>
                </li>
                <li [routerLinkActive]="['link-active']" class="main-nav-item">
                    <a [routerLink]="['/products']" (click)="hideMenu()">{{ 'PRODUCTS' | translate }}</a>
                </li>
                <li [routerLinkActive]="['link-active']" class="main-nav-item">
                    <a [routerLink]="['/orders']" (click)="hideMenu()">{{ 'ORDERS' | translate }}</a>
                </li>
                <li [routerLinkActive]="['link-active']" class="main-nav-item">
                    <a [routerLink]="['/statistics']" (click)="hideMenu()">{{ 'STATISTICS' | translate }}</a>
                </li>
                <li [routerLinkActive]="['link-active']" class="main-nav-item">
                    <a [routerLink]="['/articles']" (click)="hideMenu()">{{ 'ARTICLES' | translate }}</a>
                </li>
                <li [routerLinkActive]="['link-active']" class="main-nav-item">
                    <a [routerLink]="['/suppliers']" (click)="hideMenu()">{{ 'SUPPLIERS' | translate }}</a>
                </li>
            </ul>
        </nav>
        <!-- Top right -->
        <nav class="main-nav-2 pull-right">
            <ul class="list-unstyled">
                <li *ngIf="availableLangs?.length > 0 && selectedLang" class="main-nav-item-2">
                    <select [ngModel]="selectedLang" (ngModelChange)="changeLang($event)">
                        <option *ngFor="let lang of availableLangs" [ngValue]="lang">{{ lang }}</option>
                    </select>
                </li>

                <li *ngIf="isLogged; else elseBlock" class="main-nav-item-2">
                    <fa [routerLink]="['/user']" name="user"></fa> <a [routerLink]="['/user']"> {{ name }} </a>
                    <a (click)="logout()">{{ 'LOG OUT' | translate }}</a>
                </li>
                <li *ngIf="isAdmin" class="main-nav-item-2">
                    <a [routerLink]="['/admin']"> {{ 'ADMIN PANEL' | translate }} </a>
                    
                </li>
                <ng-template #elseBlock>
                    <li class="main-nav-item-2">
                        <a (click)="login()">{{ 'LOGIN' | translate }}</a>
                    </li>
                </ng-template>

                <li [routerLinkActive]="['link-active']" class="main-nav-item-2">
                    <a [routerLink]="['/search']"><fa name="search"></fa></a>
                </li>
                <li [routerLinkActive]="['link-active']" class="main-nav-item-2">
                    <a [routerLink]="['/cart']"><fa name="cart-plus"></fa></a>
                </li>
            </ul>
        </nav>
    </div>
</header>
<br />
<br />
<br />
<br />
<div>
    <!--Bottom-->
    <a (click)="scrollToTop()" class="btn btn-default" style="display: none">Top</a>
    <ul style="display: none">
        <li [routerLinkActive]="['link-active']" class="bg-success">
            <a [routerLink]="['/consult']">Consult</a>
        </li>
    </ul>
</div>
