<h1>Search</h1>

<input [formControl]="searchField" placeholder="Type here" />

<div *ngIf="searchResult?.productsInfo?.length > 0">
    <h4>Products</h4>
    <div class="wrap">
        <div class='container-fluid'>
            <div class='row products'>
                <div *ngFor="let productInfo of searchResult.productsInfo" class="col-lg-3 col-md-4 col-sm-6 col-xs-12  card ">
                    <godsend-product-card [productInfo]="productInfo"></godsend-product-card>
                </div>
            </div>

        </div>
    </div>
</div>
<div *ngIf="searchResult?.suppliersInfo?.length > 0">
    <h4>Suppliers</h4>
    <div class="wrap">
        <div class='container-fluid'>
            <div class='row suppliers'>
                <div *ngFor="let supplierInfo of searchResult.suppliersInfo" class="col-lg-3 col-md-4 col-sm-6 col-xs-12  card ">
                    <godsend-supplier-card [supplierInfo]="supplierInfo"></godsend-supplier-card>
                </div>
            </div>

        </div>
    </div>
</div>