<h1>Search</h1>
<div class="wrap">
    <div id="stic-search">
        <div class="search">
            <p class="inline-block">
                <input [formControl]="searchField" placeholder="{{ 'Search.Hint' | translate }}" />
            </p>
            <p class="inline-block">
                <fa name="search"></fa>
            </p>
        </div>
    </div>

    <div *ngIf="searchResult?.productsInfo?.length > 0">
        <br />
        <h4>{{ 'Search.Products' | translate }}</h4>
        <br />
        <div class='container-fluid'>
            <div class='row products'>
                <div *ngFor="let productInfo of searchResult.productsInfo" class="col-lg-3 col-md-4 col-sm-6 col-xs-12  card ">
                    <godsend-product-card [productInfo]="productInfo" [image]="images[productInfo.preview?.id]"></godsend-product-card>
                </div>
            </div>
        </div>
    </div>
    <div *ngIf="searchResult?.suppliersInfo?.length > 0">
        <br />
        <h4>{{ 'Search.Suppliers' | translate }}</h4>
        <br />
        <div class='container-fluid'>
            <div class='row suppliers'>
                <div *ngFor="let supplierInfo of searchResult.suppliersInfo" class="col-lg-3 col-md-4 col-sm-6 col-xs-12  card ">
                    <godsend-supplier-card [supplierInfo]="supplierInfo" [image]="images[supplierInfo.preview?.id]"></godsend-supplier-card>
                </div>
            </div>

        </div>
    </div>
</div>

