<style>
    .notification {
        bottom: 0px;
        right: 0px;
        height: 400px;
        width: 450px;
        position: fixed;
        overflow-y: scroll;
        z-index: 1000;
        opacity: 1;
        background-color: white;
        border: 1px solid #808080;
        border-radius: 5px;
        padding: 15px;
        display: none;
    }
    @keyframes divi {
        0% {
            transform:rotate(0deg);
        }
        25% {
            transform: rotate(-45deg);
            color: #fff;
        }
        50% {
            transform: rotate(0deg);
        }
        75% {
            transform: rotate(45deg);
            color: #fff;
        }

        100% {
            transform: rotate(0deg);
        }
    }
    .show {
        cursor: pointer;
        width: 60px;
        font-size: 32px;
        text-align: center;
        padding: 5px;
        height: 60px;
        border-radius: 50%;
        background: #228b22;
        bottom: 10px;
        right: 10px;
        position: fixed;
        z-index: 1000;
        animation: divi 2s ease-in-out infinite;
    }
    .block {
        display: block;
    }
</style>
<div class="show" (click)="slideTogglee()">
    <fa name="info"></fa>
</div>
<div class="notification" [ngClass]="{'block' : showMenuMobilee}">
    <div class="container-fluid">
        <div class="row">
            <form class="form-inline" (ngSubmit)="sendMessage()" #messageForm="ngForm">
                <div class="form-group">
                    <label class="sr-only" for="message">Message</label>
                    <input type="text" class="form-control" id="message" placeholder="your message..." name="message" [(ngModel)]="message" required>
                </div>
                <button type="submit" class="btn btn-primary" [disabled]="!messageForm.valid">Send SignalR Message</button>
            </form>
        </div>
        <div class="row" *ngIf="messages.length > 0">
            <div class="table-responsive">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>Messages</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let message of messages; let i = index">
                            <td>{{ i + 1 }}</td>
                            <td>{{ message }}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="row" *ngIf="messages.length <= 0">
            <span>No messages</span>
        </div>
    </div>
</div>
