<div [ngClass]="{'animate':messages.length>0}" class="show" (click)="slideToggle()">
    <fa-icon icon="info"></fa-icon>
</div>
<div class="notification" [ngClass]="{'block' : showMenuMobile}">
    <div class="my_box">
        <div class="close">
            <div class="float-right" (click)="hideMenu()"><fa-icon icon="times"></fa-icon></div>
        </div>

        <div *ngIf="messages.length > 0">
            <div class="table-responsive">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>{{ 'Notification.Messages' | translate }}</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let message of messages; let i = index">
                            <td>{{ i + 1 }}</td>
                            <td>{{ message }}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="txt" *ngIf="messages.length <= 0">
            <span>{{ 'Notification.NoMessages' | translate }}</span>
        </div>
        <form class="form" (ngSubmit)="sendMessage()" #messageForm="ngForm">
            <div class="form-group">
                <label class="sr-only" for="message">{{ 'Notification.Message' | translate }}</label>
                <input type="text" class="form-control" id="message" [placeholder]="'Notification.MessageHint' | translate" name="message" [(ngModel)]="message" required>
            </div>
            <button type="submit" class="btn btn-bl" [disabled]="!messageForm.valid">{{ 'Notification.Send' | translate }}</button>
        </form> 
    </div>
       
</div>
