<div *ngIf="comment != null">
    <span>{{ comment.author?.name }}:</span>
    <godsend-input-output [edit]="isEditMode" [(ngModel)]="editedComment"></godsend-input-output>
    <div *ngIf="!isReplyMode else replyBlock">
        <div *ngIf="!isEditMode else editBlock">
            <button class="btn btn-success red-btns" (click)="enterReplyMode()"><fa-icon icon="reply"></fa-icon></button>
            <!--todo authorize-->
            <button class="btn btn-info  red-btns" (click)="enterEditMode()"><fa-icon icon="edit"></fa-icon></button>
            <button class="btn btn-danger  red-btns" (click)="deleteComment()"><fa-icon icon="trash-alt"></fa-icon></button>
        </div>
    </div>
    <ng-template #editBlock>
        <div>
            <button class="btn btn-success red-btns" (click)="editComment()"><fa-icon icon="check"></fa-icon></button>
            <button class="btn btn-danger red-btns" (click)="discardEdit()"><fa-icon icon="ban"></fa-icon></button>
        </div>
    </ng-template>
    <ng-template #replyBlock>
        <div>
            <input [(ngModel)]="newComment" />
            <button class="btn btn-success red-btns" (click)="sendComment()"><fa-icon icon="check"></fa-icon></button>
            <button class="btn btn-danger red-btns" (click)="exitReplyMode()"><fa-icon icon="ban"></fa-icon></button>
        </div>
    </ng-template>
</div>
