/*helpers */
/*Position */
.fixed {
    position: fixed;
}
/*Float  */
.pull-left {
    float: left;
}
.pull-right {
    float: right;
}
/*Display Values */
.block {
    display: block;
}
.inline-block {
    display: inline-block;
}
/*Aligning Elements */
.center {
    margin: 0 auto;
    text-align: center;
}


header {
    padding-top: 20px;
    width: 100%;
    z-index: 100;
}

.wrap {
    max-width: 1200px;
    padding-left: 50px;
    padding-right: 50px;
    margin: 0 auto;
}

/* Highlighting rules for nav menu items */
li.link-active a,
li.link-active a:hover,
li.link-active a:focus {
    background-color: #4189C7;
    color: white;
}
.hamburger {
    color: #000000;
    font-size: 20px;
    display: none;
    cursor: pointer;
}

.main-nav {
    display: block;
}
@media (max-width: 768px) {
    .main-nav {
        display: none;
        margin-right: 15px;
    }
    .hamburger {
        display: block;
        margin-right: 15px;
    }
}
.main-nav-2 {
    display: block;
}
.main-nav-item {
    display: inline-block;
}
.main-nav-item-2 {
    display: inline-block;
}
@media (min-width: 768px) {
    /* On small screens, convert the nav menu to a vertical sidebar */
}
