<div class='main-nav'>
    <!-- Top left -->
    <ul class="list-group hr">
        <li [routerLinkActive]="['link-active']" class="list-group-item">
            <a [routerLink]="['/home']">Home</a>
        </li>
        <li [routerLinkActive]="['link-active']" class="list-group-item">
            <a [routerLink]="['/products']">Products</a>
        </li>
        <li [routerLinkActive]="['link-active']" *ngIf="userData.isAdmin" class="list-group-item">
            <a [routerLink]="['/orders']">Orders</a>
        </li>
        <li [routerLinkActive]="['link-active']" *ngIf="userData.name" class="list-group-item">
            <a [routerLink]="['/statistics']">Statistics</a>
        </li>
        <li [routerLinkActive]="['link-active']" class="list-group-item">
            <a [routerLink]="['/articles']">Articles</a>
        </li>
        <li [routerLinkActive]="['link-active']" class="list-group-item">
            <a [routerLink]="['/suppliers']">Suppliers</a>
        </li>
    </ul>

    <!-- Top right -->
    <ul class="list-group hr1">
        <li [routerLinkActive]="['link-active']" *ngIf="!userData.name; else loggedout" class="list-group-item">
            <a [routerLink]="['/login']">Login</a>
        </li>

        <ng-template #loggedout>
            <li>
                Hello, {{userData.name}}
                <a (click)="logout()">Log out</a>
            </li>
        </ng-template>

        <li [routerLinkActive]="['link-active']" class="list-group-item">
            <a [routerLink]="['/search']">Search</a>
        </li>
        <li [routerLinkActive]="['link-active']" class="list-group-item">
            <a [routerLink]="['/cart']">Shopping cart</a>
        </li>
    </ul>

    <!--Bottom-->
    <!--<a (click)="scrollToTop()" class="btn btn-default">Top</a>
        <ul>
            <li [routerLinkActive]="['link-active']" class="bg-success">
                <a [routerLink]="['/consult']">Consult</a>
            </li>
        </ul>
    -->
    <!--while we don't have actual user-->
    <!--<div>
        For test purposes <br />
        Name <input [(ngModel)]="userData.name" /><br />
        Is admin <input type="checkbox" [(ngModel)]="userData.isAdmin" /><br />
        <button (click)="logout()">Log out</button>
    </div>-->
</div>
