<div class="wrap">
    <h1>Orders</h1>
    <br />
    <br />
    <table *ngIf="orders?.length > 0; else nodata" class="table table-responsive">
        <tr>
            <th>Id</th>
            <th>Customer name</th>
            <th>Ordered / Done</th>
            <th>Status</th>
            <th>Products</th>
            <th>Actions</th>
        </tr>
        <tr *ngFor="let o of orders">
            <td>{{ o.id }}</td>
            <td>{{ o.customer?.name }}</td>
            <td><p>{{ o.ordered | date : 'dd-MMM-yyyy HH:mm' }} / </p> {{ (o.done | date : 'dd-MMM-yyyy HH:mm') || 'Not done yet' }}</td>
            <td>{{ status[o.status] || 'Unknown' }}</td>
            <td>
                <div class="prod-list rel">
                    Hover me!
                    <div>

                        <span *ngFor="let item of o.items" class="prod-list-span">
                            <span>{{ item.product?.info?.name }}</span>
                            <span *ngIf="item.quantity != 1"> x{{ item.quantity/item.multiplier }}</span>
                        </span>
                    </div>
                </div>
            </td>
            <!--<td>
                <div *ngFor="let item of o.weightedItems">
                    <span>{{ item.product?.info?.name }}</span>
                    <span> x {{ item.weight }}</span>
                </div>
            </td>-->
            <td>
                <button (click)="cancel(o.id)" type="button" class="btn btn-danger">Cancel</button>
                <button (click)="shipped(o.id)" type="button" class="btn btn-success">Mark shipped</button>
            </td>
        </tr>
    </table>
    <ng-template #nodata>
        <h4 class="m-1">Waiting for data...</h4>
    </ng-template>
</div>
