.wrap {
    max-width: 1400px;
    margin: 0 auto;
}
.rel {
    position: relative;
}

.inline-block {
    display: inline-block;
}

.center {
    margin: 0 auto;
    text-align: center;
}

h1, h4 {
    text-align: center;
}
tr:nth-child(odd) {
    background: #ffffff;
}

tr:nth-child(even) {
    background: #e8e8e8;
}
.prod-list div {
    position: absolute;
    right: 80px;
    width: 500px;
    top: 0;
    padding: 8px;
    background: #1a261d;
    color: #ffffff;
    display: none;
}
.prod-list-span{
    padding-left:5px;
}

.prod-list:hover div {
    display: block;
}
@media (min-width: 740px){
table {
    width: 100%;
    position: relative;
    left: 0;
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;
    overflow: auto;
}
}

td button{
    display: block;
    margin: 15px;
}