<div class="wrap">
    <h1>Orders</h1>
    <br />
    <br />
    <table *ngIf="orders?.length > 0; else nodata" class="table table-responsive">
        <tr>
            <th>{{ 'Orders.Id' | translate }}</th>
            <th>{{ 'Orders.Customer' | translate }}</th>
            <th>{{ 'Orders.Ordered/Done' | translate }}</th>
            <th>{{ 'Orders.Status' | translate }}</th>
            <th>{{ 'Orders.Products' | translate }}</th>
            <th>{{ 'Orders.Actions' | translate }}</th>
        </tr>
        <tr *ngFor="let o of orders">
            <td>{{ o.id }}</td>
            <td>{{ o.customer?.name }}</td>
            <td><p>{{ o.ordered | date : 'dd-MMM-yyyy HH:mm' }} / </p> {{ (o.done | date : 'dd-MMM-yyyy HH:mm') || ('Orders.NotDone' | translate)  }}</td>
            <td>{{ 'Orders.Statuses.' + (status[o.status] || 'Unknown') | translate }}</td>
            <td>
                <div class="prod-list rel">
                    {{ 'Orders.Hover' | translate }}!
                    <div>

                        <span *ngFor="let item of o.items" class="prod-list-span">
                            <span>{{ item.product?.name }}</span>
                            <span *ngIf="item.quantity != 1"> x{{ item.quantity/item.multiplier }}</span>
                        </span>
                    </div>
                </div>
            </td>
            <td>
                <button (click)="cancel(o.id)" type="button" class="btn btn-danger">{{ 'Orders.Cancel' | translate }}</button>
                <button (click)="shipped(o.id)" type="button" class="btn btn-success">{{ 'Orders.Ship' | translate }}</button>
            </td>
        </tr>
    </table>

    <godsend-pages [pagesCount]="pagesCount" (pageChanged)="onPageChanged($event)"></godsend-pages>

    <ng-template #nodata>
        <h4 class="m-1">{{ 'Waiting' | translate }}</h4>
    </ng-template>
</div>
