<div>
    <godsend-stars [readOnly]="!authenticated" [value]="value" (valueChanged)="saveRating($event)"></godsend-stars>
    <div *ngIf="userRating != null else notRated">
        <span>Your rating: {{ userRating }}</span>
    </div>
    <ng-template #notRated>
        <div *ngIf="authenticated else notAuthenticated">
            <span>Not rated yet</span>
        </div>
    </ng-template>
    <ng-template #notAuthenticated>
        <div>
            <span>Log in to rate</span>
        </div>
    </ng-template>
    <godsend-entity-ratings [clas]="clas" [id]="id"></godsend-entity-ratings>
</div>