<div>
    <godsend-stars [readOnly]="!authenticated" [value]="value" (valueChanged)="saveRating($event)"></godsend-stars>
    <div *ngIf="userRating != null else notRated">
        <span>{{ 'Rating.Your' | translate }}: {{ userRating }}</span>
    </div>
    <ng-template #notRated>
        <div *ngIf="authenticated else notAuthenticated">
            <span>{{ 'Rating.YouDidNotRate' | translate }}</span>
        </div>
    </ng-template>
    <ng-template #notAuthenticated>
        <div>
            <span>{{ 'Rating.NeedLogIn' | translate }}</span>
        </div>
    </ng-template>
    <godsend-entity-ratings [clas]="clas" [id]="id"></godsend-entity-ratings>
</div>