<h1>Orders</h1>
<table *ngIf="orders?.length > 0; else nodata" class="table table-striped">
    <tr>
        <th>Id</th>
        <th>Customer name</th>
        <th>Ordered</th>
        <th>Status</th>
        <th>Products</th>
        <th>Done</th>
    </tr>
    <tr *ngFor="let o of orders">
        <td>{{ o.id }}</td>
        <td>{{ o.customer?.name }}</td>
        <td>{{ o.ordered }}</td>
        <td>{{ status[o.status] || 'Unknown' }}</td>
        <td>
            <div *ngFor="let item of o.discreteItems">
                <span>{{item.product?.info?.name}}</span>
                <span *ngIf="item.quantity != 1"> x {{item.quantity}}</span>
                <span *ngIf="!last">,</span>
            </div>
        </td>
        <td>
            <div *ngFor="let item of o.weightedItems">
                <span>{{item.product?.info?.name}}</span>
                <span *ngIf="item.quantity != 1"> x {{item.quantity}}</span>
                <span *ngIf="!last">,</span>
            </div>
        </td>
        <td>{{ o.done || 'Not done yet' }}</td>
        <td (click)="cancel(o.id)">Cancel</td>
        <td (click)="shipped(o.id)">Mark shipped</td>
    </tr>
</table>
    <ng-template #nodata>
        <h4 class="m-1">Waiting for data...</h4>
    </ng-template>
