<h1>Product comparsion</h1>
<br />
<br />
<br />
<div class="wrap rel">
    <br />
    <br />
    <br />
    <div class='container-fluid'>
        <div class='row'>
            <div class='col-lg-3 col-md-4 col-sm-6 col-xs-12 products'>
                <table class="table table-bordered">
                    <tr>
                        <th>Name</th>
                        <th *ngFor="let p of products" class="prod-name">
                            {{p.info.name}}
                        </th>
                    </tr>
                    <!--<div class="photo">
        <div *ngFor="let image of images" style="display:contents;">
            <img [src]="'data:image/jpg;base64,' + image" width="50%" />
        </div>
    </div>-->
                    <tr>
                        <td>Rating</td>
                        <td *ngFor="let p of products" class="rating">
                            <div *ngIf="p">
                                <godsend-stars [value]="p.info.rating"></godsend-stars>

                                <div class="pull-right" [ngStyle]="{'color': '#003e09' }">
                                    <fa name="eye"></fa> : {{ p?.info?.watches }}
                                </div>
                            </div>
                        </td>
                    </tr>

                    <!--<div class='col-lg-7 col-md-6 col-sm-5 col-xs-12 products rel'>-->
                    <tr>
                        <td><label>{{ 'Products.Detail.Description' | translate }}: </label></td>
                        <td *ngFor="let p of products" class="prod-info">
                            <div>

                                {{p.info.description}}
                            </div>
                        </td>
                    </tr>
                    <!-- PROPERTIES -->
                    <!--<tbody *ngIf="product && product.decimalProps">-->
                    <tr *ngFor="let dProp of dProps">
                        <td> {{ dProp.property.name }}</td>
                        <td *ngFor="let product of products">{{getValue(product.decimalProps,dProp.property.name)}}</td>
                    </tr>
                    <!--</tbody>-->
                    <tr *ngFor="let iProp of iProps">
                        <td> {{ iProp.property.name }}</td>
                        <td *ngFor="let product of products">{{getValue(product.intProps,iProp.property.name)}}</td>
                    </tr>
                    <!-- <tbody *ngIf="product && product.stringProps">  -->
                        <tr *ngFor="let sProp of sProps">
                            <td> {{ sProp.property.name }}</td>
                            <td *ngFor="let product of products">{{getValue(product.stringProps,sProp?.property?.name)}}</td>
                        </tr>
                    <!--</tbody>-->
                    <!-- END PROPERTIES -->
                    <tr>
                        <td>{{ 'Products.Category' | translate }}: </td>
                        <td *ngFor="let product of products">
                            <span>{{ product.jsonCategory.name }}</span>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
    </div>

    <!--<div class="back-btn" (click)="gotoProducts()">
        <fa name="long-arrow-left"></fa> {{ 'Products.Detail.Back' | translate }}
    </div>-->

</div>
