<h1>Product detail</h1>
<br />
<br />
<br />
<div class="wrap rel">
    <br />
    <br />

    <div class='container-fluid'>
        <div class='row'>
            <div class='col-lg-3 col-md-4 col-sm-6 col-xs-12 products'>
                <div class="prod-name">{{ prod?.info?.name }}</div>
                <div class="photo">
                </div>
                <div class="rating">
                    <godsend-stars [value]="prod?.info?.rating"></godsend-stars>
                    <p class="pull-right" [ngStyle]="{'color': '#003e09' }"><fa name="eye"></fa> : {{ prod?.info?.watches }}</p>
                </div>
            </div>
            <div class='col-lg-7 col-md-6 col-sm-5 col-xs-12 products rel'>
                <div class="prod-info">
                    <div>
                        <label>Description: </label>
                        <p>{{ prod?.info?.description }}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="back-btn" (click)="gotoProducts(prod)">
        <fa name="long-arrow-left"></fa> Back to products
    </div>
</div>
