<h1>Product detail</h1>
<br />
<br />
<br />
<div class="wrap rel">
    <div class="edit-prod">
        <div class="inline-block edit-btns" id="edit" *ngIf="!edit&&canEdit" (click)="editMode()"> Edit</div>
        <div class="inline-block edit-btns" id="save" *ngIf="edit" (click)="save()"> Save</div>
        <div class="inline-block edit-btns" id="discard" *ngIf="edit" (click)="discard()"> Discard</div>
        <div class="edit-btns inline-block " id="delete" *ngIf="canDelete" (click)="deleteProduct()">Delete</div>
    </div>
    <div class='container-fluid'>
        <div class='row'>
            <div class='col-lg-3 col-md-4 col-sm-6 col-xs-12 products'>
                <div class="prod-name">
                    <godsend-input-output *ngIf="product" [(ngModel)]="product.info.name" [edit]="edit"></godsend-input-output>
                </div>
                <!--<div class="photo">
                    <div *ngFor="let image of images" style="display:contents;">
                        <img [src]="'data:image/jpg;base64,' + image" width="50%" />
                    </div>
                </div>-->
                <godsend-gallery *ngIf="product" [value]="product.images" (valueChange)="setImages($event)" [edit]="edit"></godsend-gallery>
                <div class="rating">
                    <div *ngIf="product">
                        <godsend-ratings [clas]="clas" [id]="product.id" [(ngModel)]="product.info.rating"></godsend-ratings>
                    </div>
                    <p class="pull-right" [ngStyle]="{'color': '#003e09' }"><fa-icon icon="eye"></fa-icon> : {{ product?.info?.watches }}</p>
                </div>
            </div>
            <div class='col-lg-7 col-md-6 col-sm-5 col-xs-12 products rel'>
                <div class="prod-info">
                    <div>
                        <label>{{ 'Products.Detail.Description' | translate }}: </label>
                        <p><godsend-input-output *ngIf="product" [(ngModel)]="product.info.description" [edit]="edit" [type]="'huge'"></godsend-input-output></p>
                    </div>

                    <!-- PROPERTIES -->
                    <div>

                        <div *ngIf="product && product.decimalProps">
                            <div *ngFor="let dProp of product.decimalProps">
                                <label> {{ dProp.property.name }}</label>
                                <godsend-input-output [(ngModel)]="dProp.value" [edit]="edit" [type]="'decimal'"></godsend-input-output>
                            </div>
                        </div>

                        <div *ngIf="product && product.intProps">
                            <div *ngFor="let iProp of product.intProps">
                                <label> {{ iProp.property.name }}</label>
                                <godsend-input-output [(ngModel)]="iProp.value" [edit]="edit" [type]="'integer'"></godsend-input-output>
                            </div>
                        </div>

                        <div *ngIf="product && product.stringProps">
                            <div *ngFor="let sProp of product.stringProps">
                                <label> {{ sProp.property.name }}</label>
                                <godsend-input-output [(ngModel)]="sProp.value" [edit]="edit"></godsend-input-output>
                            </div>
                        </div>

                    </div>
                    <!-- END PROPERTIES -->

                    <div *ngIf="product?.suppliersAndPrices?.length > 0 else noSuppliers">
                        <label>{{ 'Products.From' | translate }}: </label>
                        <div *ngIf="!edit">
                            <p>
                                <span>{{ 'Products.From' | translate }}: </span>
                                <select [(ngModel)]="selectedSupplier" *ngIf="product != null">
                                    <option *ngFor="let s of product?.suppliersAndPrices" [ngValue]="s">{{ s.supplierInfo?.name }} {{ 'Products.for' | translate }} {{ s.price }}</option>
                                </select>
                            </p>
                            <p> {{ 'Products.For' | translate }}: {{ price }}</p>
                            <label>{{ 'Products.Detail.Quantity' | translate }}: </label>
                            <p><input id="input-quantity" type="number" min="1" step="1" [(ngModel)]="quantity" /></p>
                            <div class="buy" (click)="buy()">
                                <p class="inline-block"><fa-icon icon="cart-arrow-down"></fa-icon></p>
                                <p class="inline-block">{{ 'Products.Detail.Buy' | translate }}!</p>
                            </div>
                        </div>
                        <div *ngIf="edit">
                            <div>
                                <ul>
                                    <li *ngFor="let s of product?.suppliersAndPrices"><p>{{ s.supplierInfo?.name }} {{ 'Products.for' | translate }} {{ s.price }}<button (click)="removeSupplier(s)">Remove</button></p></li>
                                </ul>
                            </div>


                            <span>{{ 'Products.Detail.Filter' | translate }}</span>
                            <godsend-search-inline [type]="searchTypeSupplier" (found)="refreshFoundSuppliers($event)"></godsend-search-inline>
                            <div *ngIf="foundSuppliers != null">
                                <label>{{ 'Products.Detail.Supplier' | translate }}: </label>
                                <select [(ngModel)]="supplierToAdd">
                                    <option *ngFor="let s of foundSuppliers" [ngValue]="s"> {{ s.name }}</option>
                                </select>
                                <label>{{ 'Products.Detail.Price' | translate }}: </label>
                                <input [(ngModel)]="priceToAdd" type="number" />
                                <button (click)="addSupplier()">{{ 'Products.Detail.Add' | translate }}</button>
                                
                            </div>

                        </div>
                    </div>
                    <ng-template #noSuppliers>
                        <label>{{ 'Products.Detail.No suppliers' | translate }}</label>
                    </ng-template>


                    <div *ngIf="product">
                        <label>{{ 'Products.Category' | translate }}: </label>
                        <div>
                            <span>{{ product.jsonCategory.name }}</span>
                        </div>

                        <div *ngIf="edit">
                            <godsend-category-tree (categoryChanged)="changeCategory($event)"></godsend-category-tree>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <godsend-comment-wrapper id="{{ route.snapshot.params.id }}" clas="product"></godsend-comment-wrapper>
    <div class="back-btn" [routerLink]="['/products']">
        <fa-icon icon="long-arrow-alt-left"></fa-icon> {{ 'Products.Detail.Back' | translate }}
    </div>

</div>
