<h1>Products</h1>
<br />
<a [routerLink]="['/products/comparison', idsForCompare]"><fa-icon icon="balance-scale" size="3x"></fa-icon></a>
<div class="wrap">
    
    <div class="ml-4">
        <button (click)="createProduct('','New product')" class="btn btn-dark ">{{ 'Products.Create' | translate }}</button>
        <br />
        <br />
        <button *ngIf="!categories || categories.length == 0" class="btn btn-dark" (click)="getCategories()">Get categories</button>
        <godsend-category-tree *ngIf="categories && categories.length > 0" (categoryChanged)="setCurrentCategory($event)">
        </godsend-category-tree>
        <br />
        <godsend-filter (updated)="getProducts()"></godsend-filter>
        
        <br />
    </div>

    <div id="stic-search">
        <div class="search">
            <p class="inline-block">
                <godsend-search-inline [type]="type"></godsend-search-inline>
            </p>
            <p class="inline-block">
                <fa-icon icon="search"></fa-icon>
            </p>
        </div>
    </div>
    <br />
    <div class='container-fluid' *ngIf="productsExperiment?.length > 0; else nodata">
        <div class='row products'>
            <div *ngFor="let productInfo of productsExperiment" class="col-lg-3 col-md-4 col-sm-6 col-xs-12  card ">
                <godsend-product-card [productInfo]="productInfo" (delete)="deleteProduct(productInfo.id)"></godsend-product-card>
                <button class="btn-light" (click)="toggleComparsion(productInfo.id)"  [hidden]="!isFilteredByCategory" title="add to compare" >
                    <fa-icon icon="plus-square"></fa-icon>
                </button>
            </div>
        </div>

    </div>
    <godsend-pages [pagesCount]="pagesCount" (pageChanged)="onPageChanged($event)"></godsend-pages>
    <ng-template #nodata>
        <div class="center"> <h4 class="m-1">{{ templateText }}</h4></div>
    </ng-template>
</div>