<h1>Products</h1>
<br />
<br />
<a (click)="createProduct('it is test product','Test product2')">Create!!</a>
<br />
<div>
    <div class="wrap">
        <div id="stic-search">
            <div class="search">
                <p class="inline-block">
                    <godsend-search-inline [type]="type" (found)="onFound($event.productsInfo)"></godsend-search-inline>
                </p>
                <p class="inline-block">
                    <fa name="search"></fa>
                </p>
            </div>
        </div>
        <br />
        <div class='container-fluid' *ngIf="products?.length > 0; else nodata">
            <div class='row products'>
                <div *ngFor="let productInfo of products" class="col-lg-3 col-md-4 col-sm-6 col-xs-12  card ">
                    <godsend-product-card [productInfo]="productInfo" [image]="imagg[productInfo.id]" (delete)="deleteProduct(productInfo.id)"></godsend-product-card>
                </div>
            </div>

        </div>
    </div>
</div>

<ng-template #nodata>
    <div class="center"> <h4 class="m-1">{{ templateText }}</h4></div>
</ng-template>
