.rel{
    position:relative;
}
.inline-block {
    display: inline-block;
}
a, a:active, a:focus, a:visited {
    text-decoration: none;
    color: #171212;
}

h1 {
    text-align: center;
}

.wrap {
    max-width: 1400px;
    margin: 0 auto;
}

.products {
    margin-left: 10px;
    margin-right: 10px;
}

.photo {
    width: 100%;
    height: 280px;
    background: rgba(217, 149, 25, 0.38);
    margin-top: 25px;
}

.prod-info {
    position: absolute;
    top: 20%;
}
    .prod-info label {
        font-size: 18px;
        font-weight: bold;
        color: #210300;
    }
.prod-name {
    font-size: 25px;
    color: #003e09;
    border-bottom: solid #003e09 2px;
}

.rating {
    margin-top: 15px;
}
.back-btn {
   position: absolute;
   right: 60px;
   top: 0;
   cursor: pointer;
}
    .rating p {
        display: inline-block;
        font-size: 18px;
    }
.buy {
    margin-top: 25px;
    font-weight: 500;
    color: #ffffff;
    padding-top:12px;
    padding-left:12px;
    border-radius: 5px;
    background: rgb(64,199,129);
    box-shadow: 0 -3px rgb(53,167,110) inset;
    transition: 0.2s;
}
.buy:hover {
    background: rgb(53, 167, 110);
}
    .buy:active {
        background: rgb(33,147,90);
        box-shadow: 0 3px rgb(33,147,90) inset;
    }
    .buy > p{
        margin-right: 10px;
        font-size: 20px;
    }
@media (max-width: 568px) {
   
        .products {
        margin-left: 40px;
        margin-right: 40px;
        margin-bottom: 10px;
    }

    .prod-info {
        margin-top: 10px;
    }
}

@media (max-width: 460px) {
    .back-btn {
        right: 30px;
    }
    .products {
        margin-left: 15px;
        margin-right: 15px;
    }
}
