.rel {
    position: relative;
}
.inline-block{
    display: inline-block;
}
.center {
    margin: 0 auto;
    text-align: center;
}
a, a:active, a:focus, a:visited {
    text-decoration: none;
    color: #171212;
}

.delete {
    display: inline-block;
    z-index: 6;
    background-color: antiquewhite;
    cursor:pointer;
    position: absolute;
    padding: 5px;
    right: 5px;
    top: 0;
}

.delete:hover {
    background-color: salmon;
}

h1, h4 {
    text-align: center;
}
.rating {
    display:inline-block;
    width: 100%;
    margin-bottom:10px;
}
    .rating p {
        display: inline-block;
        font-size: 18px;
        margin-bottom: 0;
    }
    
#stic-search {
    z-index: 90;
    background: rgba(255, 255, 255, 0.9);
}
.search {
    margin: 0 auto;
    text-align: center;
    border-bottom: solid green 2px;
}

#stic-search p {
    margin-top: 15px;
    margin-bottom: 15px;
    margin-left: 10px;
}
@media (min-height: 500px){
    #stic-search {
        position: -webkit-sticky;
        position: -moz-sticky;
        position: -ms-sticky;
        position: -o-sticky;
        position: sticky;
        top: 68px;
        z-index: 1000;
        background: rgba(255, 255, 255, 0.9);
    }
}
.wrap {
    max-width: 1400px;
    margin: 0 auto;
}

.products {
    margin-left: 10px;
    margin-right: 10px;
}

.card {
    background: #ffffff;
    display: inline-block;
    text-align: center;
    font-size: 18px;
    padding-top: 15px;
    padding-bottom: 20px;
    word-wrap: normal;
}

.card:hover {
    box-shadow: 0px 0px 6px 1px rgba(0, 0, 0, 0.5);
    z-index: 12;
}

.photo {
    width: 100%;
    height: 280px;
    margin-top: 25px;
}

@media (max-width: 568px) {
    .products {
        margin-left: 40px;
        margin-right: 40px;
        margin-bottom: 10px;
    }

}

@media (max-width: 460px) {
    .products {
        margin-left: 15px;
        margin-right: 15px;
    }
}
