<a [routerLink]="['/products', productInfo.id]">
    <div class="card-header">
        <span [ngClass]="{'h4':productInfo.state === 0, 'h1':productInfo.state === 1}" >
            {{ productInfo.name }}
        </span>

    </div>
    <div class="photo mb-4">
        <img [src]="'data:image/jpg;base64,' + image" class="card-img"/>
    </div>
    <div class="rating">
        <p class="pull-right" [ngStyle]="{'color': '#003e09' }"><fa name="eye"></fa> : {{ productInfo.watches }}</p>
    </div>
    <div class="rating">
        <godsend-stars [value]="productInfo.rating"></godsend-stars>
    </div>
    <div class="card-block">
        <span class="card-text p-a-1">{{ productInfo.description }}</span>
    </div>
</a>
<div class="delete" (click)="onDelete()"><fa name="times"></fa></div>

