<a [routerLink]="['/products', productInfo?.id]">
    <div class="card-header" [ngClass]="{'viewed':viewed}">
        <span [ngClass]="{'h4':productInfo?.state === 0, 'h3':productInfo?.state === 1, 'h2':productInfo?.state === 2}" >
            {{ productInfo?.name }}
        </span>

    </div>
    <div class="photo mb-4" *ngIf="productInfo?.preview else noImage">
        <img [src]="imagePath" class="card-img"/>
    </div>
    <ng-template #noImage>
        No preview
    </ng-template>
    <div class="rating">
        <p class="pull-right" [ngStyle]="{'color': '#003e09' }">
            <fa-icon icon="eye"></fa-icon> : {{ productInfo?.watches }}
            <fa-icon icon="comments"></fa-icon> : {{ productInfo?.commentsCount }}
        </p>
    </div>
    <div class="rating">
        <godsend-stars [value]="productInfo?.rating"></godsend-stars>
    </div>
    <div class="card-block">
        <span class="card-text p-a-1">{{ productInfo?.description }}</span>
    </div>
</a>
<div class="delete" (click)="onDelete()"><fa-icon icon="times"></fa-icon></div>

